body{
    background-color: blue;
    font-family: 'Courier New', Courier, monospace;
    color: white;
p{
    color:padding-block: ;
}

p{
    color:pink;
    width: 600px;
}

h1{
    color:rgb(255, 255, 255) ;
}

#zweites-element {
    color: black;
    background-color:lightgray;
}

.brazil{
    background-color: yellow;
    color:green
}

img{width: 600px;
}

}